<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>

    <!-- Bootstrap -->
    @Styles.Render("~/Content/bootstrap")
    <!-- Font Awesome : 图标字体库 -->
    @Styles.Render("~/Content/font-awesome")
    <!-- NProgress : 顶部加载进度条 -->
    @Styles.Render("~/Content/nprogress")
    <!-- 子页css -->
    @RenderSection("css", required: false)

    <!-- Custom -->
    @Styles.Render("~/Content/custom")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <!-- left menu -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>后台管理系统</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/Image/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Homura</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @Html.Partial("_Menu")
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="../login/Index">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- /left menu -->
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/Image/img.jpg" alt="">Homura
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> 我的主页</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>设置</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">帮助</a></li>
                                    <li><a href="../Login/Index"><i class="fa fa-sign-out pull-right"></i> 退出登陆</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/Image/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>Homura</span>
                                                <span class="time">3 分钟前</span>
                                            </span>
                                            <span class="message">
                                                提示消息，可以放邮箱内容。
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/Image/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>Homura</span>
                                                <span class="time">3 分钟前</span>
                                            </span>
                                            <span class="message">
                                                提示消息，可以放系统提示不过需要改改图标。
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/Image/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>Homura</span>
                                                <span class="time">3 分钟前</span>
                                            </span>
                                            <span class="message">
                                                提示消息，最多放四条比较好看。
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/Content/Image/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>Homura</span>
                                                <span class="time">3 分钟前</span>
                                            </span>
                                            <span class="message">
                                                提示消息，当然多几条也没啥。
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>这里可以查看全部</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">

                @RenderBody()

            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    页脚 - 网站的推广版权之类的 <a href="#">这可以点</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>
    </div>

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- FastClick : 移动端在点击后会有300毫秒的延迟,而这个可以是点击立即生效(需要注意有些情况是不必要的) -->
    @Scripts.Render("~/bundles/fastclick")
    <!-- NProgress : 顶部加载进度条 -->
    @Scripts.Render("~/bundles/nprogress")
    <!-- 子页js -->
    @RenderSection("scripts", required: false)

    <!-- 自定义 -->
    @Scripts.Render("~/bundles/custom")
</body>
</html>
